* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'sugarloaf';
  src: url('/src/assets/fonts/sugarloaf_demo-webfont.woff');
  src: url('/src/assets/fonts/sugarloaf_demo-webfont.woff2');
  font-weight: normal;
  font-style: normal;
}

/*MOBILE FIRST*/
/*mobile*/

/* all devices are larger than 320px */

html {
  width: 100%;
  height: 100%;
}
/*and actually, it's changed back to how it was before, ok. can you return it to the working state?*/
/*maybe I'll just try closing and restarting VS Code*/
/*because I've already command+z'd*/
body {
  background-image: url('./assets/images/click_happy_background_2.png');
  width: 100%;
  height: 100%;
  background-size: cover;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.left-container {
  display: grid;
}

.signup-form-container {
  top: 0;
  margin: 0px 0px 20px 0px;
  border: 3px solid #000000;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 5px lightgrey;
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1
}

.signup-title {
  padding: 15px;
  color: #10628B;
  text-align: center;
}

.submit-button {
  margin: 20px 0px 20px 0px;
  font-size: 1rem;
  background-color: #10628B;
  color: #ffffff;
  padding: 15px;
  border: 2px solid #000000;
}

.ad-container {
  display: none;
}

.input-form {
  border: 2px solid #000000;
  margin: 20px 0px 20px 0px;
}

.main-title {
  color: #10628B;
}

.main-container {
  background-color: #fff;
  color: #000;
  padding: 15px 25px;
  text-align: center;
  border: 3px solid #000;
  box-shadow: inset 0px 0px 0px 5px lightgrey;
  box-sizing: border-box;
}

.mouse {
  width: 65%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.counter {
  border: 2px solid #000000;
  padding: 5px;
  margin: 20px 0;
  font-size: 25px;
  width: 130px;
  text-align: center;
  display: inline-block;
  color: #000000;
}

.timer-container {
  border: 2px solid #000000;
  padding: 5px;
  margin: 20px 0;
  font-size: 25px;
  width: 130px;
  text-align: center;
  display: inline-block;
  color: #000000;
}

.title {
  font-family: 'Arial';
}

.title > h1 {
  font-size: 39px;
}

.title > h3 {
  color: #000000;
  font-size: 17px;
}

.max-score-container {
  background-color: #ffffff;
  color: #000000;
  padding: 15px 25px;
  text-align: center;
  border: 3px solid #000000;
  margin-top: 25px;
  font-size: 25px;
  box-shadow: inset 0px 0px 0px 5px lightgrey;
  box-sizing: border-box;
}

.max-score-title {
  color: #10628B;
}

.leaderboard-container {
  border: 3px solid #000000;
  margin-top: 20px;
  text-align: center;
  background: #ffffff;
  padding-bottom: 20px;
  box-shadow: inset 0px 0px 0px 5px lightgrey;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.leaderboard-title {
  margin: 20px 0px 20px 0px;
  color: #10628B;
}

.reset-container {
  background-color: #ffffff;
  border: 3px solid #000000;
  text-align: center;
  margin-bottom: 20px;
  /*display: none;*/
}

.reset-button {
  margin: 20px 0px 20px 0px;
  font-size: 1rem;
  background-color: #10628B;
  color: #ffffff;
  padding: 15px;
  border: 2px solid #000000;
}

/* Changes signup and max-score position only for tablet/desktop */

@media (min-width: 1024px) {
  .container {
    position: relative;
    width: calc(70% - 400px) !important;
  }

  .left-container {
    position: absolute;
    left: -270px;
  }

  .signup-form-container {
    top: 0;
    margin: 0;
    height: 290px;
    border: 3px solid #000000;
    background-color: #ffffff;
  }

  .ad-container {
    margin: 20px 0px 20px 0px;
    border: 3px solid #000000;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 0px 5px lightgrey;
    display: flex;
  }

  .vistaprint {
    width: 235px;
    height: 210px;
  }

  .signup-title {
    padding: 15px;
    color: #10628B;
  }

  .title > h1 {
    font-size: 50px;
  }

  .main-container {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 25px;
    text-align: center;
    border: 3px solid #000000;
  }

  .right-container {
    position: absolute;
    right: -220px;
    top: 0;
    margin: 0;
    height: 150px;
  }

  .max-score-container {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 25px;
    text-align: center;
    border: 3px solid #000000;
    font-size: 25px;
    margin-top: 0;
  }

  .max-score-inner-container {
    border: 2px solid #000000;
  }

  .leaderboard-container {
    border: 3px solid #000000;
    margin-top: 20px;
    text-align: center;
    background: #ffffff;
    padding-bottom: 20px;
    box-shadow: inset 0px 0px 0px 5px lightgrey;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .leaderboard-title {
    color: #10628B;;
    margin: 20px 0px 20px 0px;
  }
}

/* @font-face {
  font-family: 'sugarloaf_demoregular';
  src: url('/src/sugarloaf_demo-webfont.woff') format('font-woff2'),
       url('/src/sugarloaf_demo-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
} */


